@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-gray-900;
}

@keyframes marquee-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-marquee-right {
  animation: marquee-right 20s linear infinite;
}

.animate-marquee-left {
  animation: marquee-left 20s linear infinite;
}